body {
  border: .1rem solid gray;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

#face{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 10rem;
  
}

#background{
  margin: .5rem;
  background: black;
  color: white
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button{
  margin: .5rem;
}

.button:hover{
  color: white;
  background: black;
}